{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock %}


{% block content %}
    <div class="my-account-page-warpper section-space--ptb_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 m-auto">
                    <div class="myaccount-box-wrapper">
                        <div class="helendo-tabs">
                            <ul class="nav" role="tablist">
                                <li class="tab__item nav-item active">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_list_06" role="tab">ورود</a>
                                </li>
                            </ul>
                        </div>
                        {% if form.errors %}
                            <div class="error-message">
                                <ul>
                                    {{form.errors}}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="tab-content content-modal-box">
                            <div class="tab-pane fade show active" id="tab_list_06" role="tabpanel">
                                <form action="{% url 'account_login' %}" class="account-form-box" method='post' name='login_form'>
                                    {% csrf_token %}
                                    <h6>وارد حساب خود شوید یا <a href="{% url 'account_signup'%}">ثبت نام</a> کنید.</h6>
                                    <div class="single-input">
                                        <input type="text" placeholder="ایمیل" name='login' required>
                                    </div>
                                    <div class="single-input">
                                        <input type="password" placeholder="گذرواژه" name='password' required>
                                    </div>
                                    <div class="checkbox-wrap mt-10">
                                        <label class="label-for-checkbox inline mt-15">
                                            <input class="input-checkbox" name="remember" type="checkbox" id="rememberme" value="forever" name='remember' required> <span>من را به خاطر بسپار</span>
                                        </label>
                                        <a href="{% url 'account_reset_password' %}" class=" mt-10">گذرواژه خود را فراموش کرده اید؟</a>
                                    </div>
                                    <div class="button-box mt-25">
                                        <button type='submit' class="btn btn--full btn--black">ورود</button>
                                    </div> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}