{% extends '_base.html' %}
{% load humanize %}
 
{% block content %}
    <!-- breadcrumb-area start -->         
    <div class="breadcrumb-area"> 
        <div class="container"> 
            <div class="row"> 
                <div class="col-12"> 
                    <div class="row breadcrumb_box  align-items-center"> 
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-start"> 
                            <h2 class="breadcrumb-title">وبلاگ</h2> 
                        </div>                             
                        <div class="col-lg-6  col-md-6 col-sm-6"> 
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-sm-end">
                            <li class="breadcrumb-item"><a href="{% url 'products:homepage' %}">
                                Homepage
                            </a></li>
                            <li class="breadcrumb-item"><a href={% url 'blog:blog_gird'%}>
                                Blog
                            </a></li>
                            <li class="breadcrumb-item active">{{category.name}}</li>
                        </ul>     
                        <!-- breadcrumb-list end -->                                 
                        </div>                             
                    </div>                         
                </div>                     
            </div>                 
        </div>             
    </div>         
    <!-- breadcrumb-area end -->       
    <div id="main-wrapper"> 
        <div class="site-wrapper-reveal border-bottom"> 
            <!-- Blog Page Area Start -->                 
            {% include "blog/blog_page_area.html" %}                     
            <!-- Blog Page Area End -->                 
        </div>                      
    </div>    
{% endblock content %}
    
    

      