


{% block content %}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        {% for item in breadcrumb_data %}
                            <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-start">
                                <h2 class='breadcrumb'>{{item.title}}</h2>
                            </div>
                            <div class="col-lg-6  col-md-6 col-sm-6">
                                <!-- breadcrumb-list start -->
                                    <ul class="breadcrumb-list text-center text-sm-end">
                                        <li class="breadcrumb-item"><a href="{% url 'pages:homepage' %}">
                                            Homepage
                                        </a></li>
                                        {% if item.middle_lable %}
                                            <li class="breadcrumb-item">
                                                {% if item.middle_url %}
                                                    {% if item.middle_url and item.middle_url_args %}
                                                        <a href="{% url item.middle_url item.middle_url_args %}">
                                                    {% else %}
                                                        <a href="{% url item.middle_url %}">
                                                    {% endif %}
                                                {% endif %}
                                                {{item.middle_lable}}
                                            </a></li>
                                        {% endif %}
                                        <li class="breadcrumb-item active">
                                            {% if item.url %}
                                                <a href="{% url item.url %}">
                                            {% endif %}
                                            {{item.lable}}
                                        </a></li>
                                    </ul>
                                <!-- breadcrumb-list end -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}