{# later you should add a navbar in your _base.html that includes categories and sub categories #}
{% extends '_base.html' %}
{% load static %}

{% block page_title %}Homepage{% endblock%}

{% block content %}
    <div class="hero-box-area mt-md-0 mt-lg-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 ps-0 ps-lg-3 pe-0 pe-lg-3">
                    <!-- Hero Slider Area Start -->
                    <div class="hero-area hero-slider-one">
                        <div class="single-hero-slider-one bg-img"
                             data-bg="{% static "images/hero/home-default-1.jpg" %}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="hero-text-one">
                                            <h6 class="text-color-primary mb-10">
                                            کالکشن <br/> مبلمان <br/> 2022 </h6>
                                            <h1 class="hero-title">
                                            به فروشگاه هلندو <br/>  خوش آمدید </h1>
                                            <p class="mt-30"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br/>
                                            و با استفاده از طراحان گرافیک است. </p>
                                            <div class="button-box mt-30"> <a href="#" class="hero-btn-one btn">الآن خرید کنید <i class="icon-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider-one bg-img"
                             data-bg="{% static "images/hero/home-default-2.jpg" %}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="hero-text-one">
                                            <h6 class="text-color-primary mb-10">
                                            کالکشن <br/> مبلمان <br/> 2022 </h6>
                                            <h1 class="hero-title">
                                            به فروشگاه هلندو <br/>  خوش آمدید </h1>
                                            <p class="mt-30"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br/>
                                            و با استفاده از طراحان گرافیک است. </p>
                                            <div class="button-box mt-30"> <a href="shop-3-column.html" class="hero-btn-one btn">الآن خرید کنید <i class="icon-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-hero-slider-one bg-img"
                             data-bg="{% static "images/hero/home-default-3.jpg" %}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="hero-text-one">
                                            <h6 class="text-color-primary mb-10">
                                            کالکشن <br/> مبلمان <br/> 2022 </h6>
                                            <h1 class="hero-title">
                                            به فروشگاه هلندو <br/>  خوش آمدید </h1>
                                            <p class="mt-30"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ <br/>
                                            و با استفاده از طراحان گرافیک است. </p>
                                            <div class="button-box mt-30"> <a href="shop-3-column.html" class="hero-btn-one btn">الآن خرید کنید <i class="icon-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hero Slider Area End -->
                </div>
            </div>
        </div>
    </div>
    {% for product in products %}
        <div class="featuted-product-wrap section-space--pt_120">
            <div class="container">
                <div class="row align-items-center featuted-product-one">
                    <div class="col-lg-6 col-md-6 order-md-1 order-1">
                        <div class="product-thumbnail"> <a href={% url 'product_detail' product.slug %}>
                            <img src="{{ product.image.url }}" class="img-flu %}id"
                                 alt="Featured Image" height="451" width="397"/></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 order-md-2 order-2">
                        <div class="featured-product-contect">
                            <h6 class="sub-heading mb-2">محصول ویژه</h6>
                            <h2 class="section-title--one"><a href={% url 'product_detail' product.slug %}>
                                {{ product.name }}</a></h2>
                            <p class="mt-30">{{ product.description }}</p>
                            <div class="button-box section-space--mt_60">
                                <a class="btn btn--md btn--border_1" href={% url 'product_detail' product.slug %}
                                >فقط {{ product.price }} تومان&nbsp;<i class="icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {#                    <div class="images-text-bg text-end">#}
    {#                        <img src={% static "images/text-bg/bg-df-1-300x49.we %}bp" class="img-fluid" width="300" height="49" alt="Wood Coth"/>#}
    {#                    </div>#}
        </div>
    {% endfor %}
    <div class="product-wrapper section-space--ptb_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-20">
                        <h2 class="section-title--one section-title--center">بیشترین فروش</h2>
                    </div>
                </div>
            </div>
            <div class="product-slider-active">
                <!-- Single Product Item Start -->
                <div class="single-product-item text-center">
                    <div class="products-images"> <a href="product-details.html" class="product-thumbnail"> <img src={% static "images/product/1_1-300x300.webp" %} class="img-fluid" alt="Product Images" width="300" height="300" width="300" height="300"/> <span class="ribbon out-of-stock">اتمام موجودی</span> </a>
                        <div class="product-actions"> <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a> <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a> <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h6 class="prodect-title"><a href="product-details.html">گلدان</a></h6>
                        <div class="prodect-price"> <span class="new-price">50.000</span> - <span class="old-price">200.000 تومان</span>
                        </div>
                    </div>
                </div>
                <!-- Single Product Item End -->
                <!-- Single Product Item Start -->
                <div class="single-product-item text-center">
                    <div class="products-images"> <a href="product-details.html" class="product-thumbnail"> <img src={% static "images/product/1_2-300x300.webp" %} class="img-fluid" alt="Product Images" width="300" height="300"/> </a>
                        <div class="product-actions"> <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a> <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a> <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h6 class="prodect-title"><a href="product-details.html">صندلی</a></h6>
                        <div class="prodect-price"> <span class="new-price">1.000.000</span> - <span class="old-price">3.000.000 تومان</span>
                        </div>
                    </div>
                </div>
                <!-- Single Product Item End -->
                <!-- Single Product Item Start -->
                <div class="single-product-item text-center">
                    <div class="products-images"> <a href="product-details.html" class="product-thumbnail"> <img src={% static "images/product/1_3-300x300.webp" %} class="img-fluid" alt="Product Images" width="300" height="300"/> </a>
                        <div class="product-actions"> <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a> <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a> <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h6 class="prodect-title"><a href="product-details.html">ظرف چوبی</a></h6>
                        <div class="prodect-price"> <span class="new-price">200.000 تومان</span>
                        </div>
                    </div>
                </div>
                <!-- Single Product Item End -->
                <!-- Single Product Item Start -->
                <div class="single-product-item text-center">
                    <div class="products-images"> <a href="product-details.html" class="product-thumbnail"> <img src={% static "images/product/1_4-300x300.webp" %} class="img-fluid" alt="Product Images" width="300" height="300"/> <span class="ribbon onsale">-14%</span> </a>
                        <div class="product-actions"> <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a> <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a> <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h6 class="prodect-title"><a href="product-details.html">گلدان چوبی</a></h6>
                        <div class="prodect-price"> <span class="new-price">100.000</span> - <span class="old-price">500.000 تومان</span>
                        </div>
                    </div>
                </div>
                <!-- Single Product Item End -->
                <!-- Single Product Item Start -->
                <div class="single-product-item text-center">
                    <div class="products-images"> <a href="product-details.html" class="product-thumbnail"> <img src={% static "images/product/1_5-300x300.webp" %} class="img-fluid" alt="Product Images" width="300" height="300"/> </a>
                        <div class="product-actions"> <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a> <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a> <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h6 class="prodect-title"><a href="product-details.html">چراغ اتاق خواب</a></h6>
                        <div class="prodect-price"> <span class="new-price">1.000.000</span> - <span class="old-price"> 2.000.000 تومان</span>
                        </div>
                    </div>
                </div>
                <!-- Single Product Item End -->
                <!-- Single Product Item Start -->
                <div class="single-product-item text-center">
                    <div class="products-images"> <a href="product-details.html" class="product-thumbnail"> <img src={% static "images/product/1_6-300x300.webp" %} class="img-fluid" alt="Product Images" width="300" height="300"/> </a>
                        <div class="product-actions"> <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a> <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a> <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h6 class="prodect-title"><a href="product-details.html">چراغ مطالعه</a></h6>
                        <div class="prodect-price"> <span class="new-price">500.000 تومان</span>
                        </div>
                    </div>
                </div>
                <!-- Single Product Item End -->
                <!-- Single Product Item Start -->
                <div class="single-product-item text-center">
                    <div class="products-images"> <a href="product-details.html" class="product-thumbnail"> <img src={% static "images/product/1_7-300x300.webp" %} class="img-fluid" alt="Product Images" width="300" height="300"/> </a>
                        <div class="product-actions"> <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a> <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a> <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h6 class="prodect-title"><a href="product-details.html">چوب ترئینی</a></h6>
                        <div class="prodect-price"> <span class="new-price">50.000 تومان</span>
                        </div>
                    </div>
                </div>
                <!-- Single Product Item End -->
                <!-- Single Product Item Start -->
                <div class="single-product-item text-center">
                    <div class="products-images"> <a href="product-details.html" class="product-thumbnail"> <img src={% static "images/product/1_8-300x300.webp" %} class="img-fluid" alt="Product Images" width="300" height="300"/> </a>
                        <div class="product-actions"> <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a> <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a> <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h6 class="prodect-title"><a href="product-details.html">قوری با چای سیاه</a></h6>
                        <div class="prodect-price"> <span class="new-price">200.000</span> - <span class="old-price"> 800.000 تومان</span>
                        </div>
                    </div>
                </div>
                <!-- Single Product Item End -->
            </div>
        </div>
    </div>
    <div class="offer-colection-area container-fluid">
        <div class="section-space--ptb_120 bg-img" data-bg "images/bg/h1-countdown.jpg">
            <div class="row">
                <div class="container">
                    <div class="row ps-md-1 ps-3 pe-md-1 pe-3">
                        <div class="col-lg-7 col-md-7">
                            <div class="colection-info-wrap">
                                <div class="section-title mb-30">
                                    <h2 class="section-title--one ">مجموعه چوب <span class="text-red">50% تخفیف</span></h2>
                                </div>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                <div class="timer text-center section-space--mt_60">
                                    <!-- countdown start -->
                                    <div class="countdown-deals counter-style--one" data-countdown="2022/12/01"></div>
                                    <!-- countdown end -->
                                </div>
                                <div class="button-box section-space--mt_60"> <a href="shop-4-column.html" class="btn--md btn--black btn">الآن خرید کنید <i class="icon-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
