{% extends '_base.html' %}
{% load  static %}
{% load comment_tags %}
{% load humanize %}

{% block styles%}
    <link rel="stylesheet" href="{% static "css/comment.css" %}"/>
{% endblock styles %}

{% block page_title %}Products detail{% endblock page_title %}

{% block content %}
    <!-- breadcrumb-area start -->
    {% include 'breadcrumb.html'%}
    <!-- breadcrumb-area end -->
    <div class="single-product-wrap section-space--pt_90 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <!-- Product Details Left -->
                    <div class="product-details-horizontal">
                        <div class="product-details-images-horizontal">

                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-01.webp" class="poppu-img">
                                        <img src="{% static "images/product/single-product-01.webp" %}" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-02.webp" class="poppu-img">
                                        <img src="{% static "images/product/single-product-03.webp" %}" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-03.webp" class="poppu-img">
                                        <img src="{% static "images/product/single-product-03.webp" %}" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-04.webp" class="poppu-img">
                                        <img src="{% static "images/product/single-product-04.webp" %}" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-01.webp" class="poppu-img">
                                        <img src="{% static "images/product/single-product-01.webp" %}" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-04.webp" class="poppu-img">
                                        <img src="{% static "images/product/single-product-04.webp" %}" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-01.webp" class="poppu-img">
                                        <img src="{% static "images/product/single-product-01.webp" %}" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="product-details-thumbs-horizontal">
                            <div class="sm-image"><img src="{% static "images/product/smal0l/1-100x100.webp" %}" alt="product image thumb"></div>
                            <div class="sm-image"><img src="{% static "images/product/smal0l/2-100x100.webp" %}" alt="product image thumb"></div>
                            <div class="sm-image"><img src="{% static "images/product/smal0l/3-100x100.webp" %}" alt="product image thumb"></div>
                            <div class="sm-image"><img src="{% static "images/product/smal0l/4-100x100.webp" %}" alt="product image thumb"></div>
                            <div class="sm-image"><img src="{% static "images/product/smal0l/1-100x100.webp" %}" alt="product image thumb"></div>
                            <div class="sm-image"><img src="{% static "images/product/smal0l/4-100x100.webp" %}" alt="product image thumb"></div>
                            <div class="sm-image"><img src="{% static "images/product/smal0l/1-100x100.webp" %}" alt="product image thumb"></div>
                        </div>
                    </div>
                    <!--// Product Details Left -->

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="product-details-content ">

                        <h5 class="font-weight--reguler mb-10">{{ product_detail.name }}</h5>

                        <h3 class="price">{{ product_detail.clean_price }}</h3>
                        {% if product_detail.quantity == 0 %}
                            <div class="stock out-of-stock mt-10">
                                <p>وضعیت : <span>اتمام موجودی</span></p>
                            </div>
                        {% else %}
                            <div class="stock mt-10">
                                <p>وضعیت : <span  style="color: green;">موجود</span></p>
                            </div>
                        {% endif %}
                        <div class="quickview-peragraph mt-10">
                            <p>{{product_detail.description|safe}}</p>
                        </div>
                        {% if product_detail.quantity != 0 %}
                            <form action={% url 'cart:add_to_cart' product_detail.id %} method='post'>
                                {% csrf_token %}
                                <div class="product-size-wrapper mt-20">
                                    <select class="select-active" name='size' required> 
                                        <option value="LARGE">بزرگ</option>                                                         
                                        <option value="MEDIUM">متوسط</option>                                                         
                                        <option value="SMALL">کوچک</option>                                                         
                                    </select> 
                                </div>
                                <div class="product-color-wrapper mt-20">
                                    <select class="select-active" name='color' required> 
                                        <option value="BLACK">سیاه</option>                                                         
                                        <option value="WHITE">سفید</option>                                                         
                                        <option value="PINK">صورتی</option>                                                         
                                    </select> 
                                </div>
                                <div class="quickview-action-wrap mt-30">
                                    <div class="quickview-cart-box">
                                        {% if product_detail.id|stringformat:"s" not in request.session.cart.keys %}
                                            <div class="quickview-quality">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" name="quantity" type="number" value="1" max="{{product_detail.quantity}}" min="1">  
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="quickview-button">
                                            {% if product_detail.id|stringformat:"s"  not in request.session.cart %}
                                                <div class="quickview-cart button">
                                                    <button type='submit' class="btn--lg btn--black font-weight--reguler text-white">افزودن به سبد خرید</button>
                                                </div>
                                            {% else %}
                                                <div class="quickview-cart button">
                                                    <button type='button'class="btn--lg btn--black font-weight--reguler text-white" >این محصول به <a href={% url 'cart:cart_detail_view' %}>سبد خرید</a> شما اضافه شده است</button>
                                                </div>

                                            {% endif%}
                                            <div class="quickview-wishlist button">
                                                {% if user not in product_detail.user_wished_product.all %}
                                                    <a title="Add to wishlist" href="{% url 'products:add_to_wishlist' product_detail.slug %}"  onclick="document.getElementById('wishlist_form').submit()">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'products:remove_from_wishlist' product_detail.slug %}" title="remove from wishlist">
                                                        <i class="fas fa-heart"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <h5>این محصول موجود نمی باشد. موجود شد اطلاع بده</h5>
                        {% endif %}
                        <div class="product_meta mt-30">
                            <div class="sku_wrapper item_meta">
                                <span class="label"> موجودی: </span>
                                <span class="sku">{{ product_detail.quantity }}</span>
                            </div>
                            <div class="posted_in item_meta">
                                    <span class="label">دسته بندی: </span><a href={% url 'products:category_detail' product_detail.category.slug %}>{{ product_detail.category }}</a>
                            </div>
                            <div class="tagged_as item_meta">
                                <span class="label">برچسب ها: </span><a href="#">مبلمان</a>
                            </div>
                        </div>

                        <div class="product_socials section-space--mt_60">
                            <span class="label">اشتراک گذاری :</span>
                            <ul class="helendo-social-share socials-inline">
                                <li>
                                    <a class="share-twitter helendo-twitter" href="#" target="_blank"><i class="social_twitter"></i></a>
                                </li>
                                <li>
                                    <a class="share-facebook helendo-facebook" href="#" target="_blank"><i class="social_facebook"></i></a>
                                </li>
                                <li>
                                    <a class="share-google-plus helendo-google-plus" href="#" target="_blank"><i class="social_googleplus"></i></a>
                                </li>
                                <li>
                                    <a class="share-pinterest helendo-pinterest" href="#" target="_blank"><i class="social_pinterest"></i></a>
                                </li>
                                <li>
                                    <a class="share-linkedin helendo-linkedin" href="#" target="_blank"><i class="social_linkedin"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product-details-tab section-space--pt_90">
                        <ul role="tablist" class=" nav">
                            <li class="active" role="presentation">
                                <a data-bs-toggle="tab" role="tab" href="#description" class="active">شرح</a>
                            </li>
                            <li role="presentation">
                                <a data-bs-toggle="tab" role="tab" href="#sheet">اطلاعات تکمیلی</a>
                            </li>
                            <li role="presentation">
                                <a data-bs-toggle="tab" role="tab" href="#reviews">بررسی</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="product_details_tab_content tab-content mt-30">
                        <!-- Start Single Content -->
                        <div class="product_tab_content tab-pane active" id="description" role="tabpanel">
                            <div class="product_description_wrap">
                                <div class="product-details-wrap">
                                    <div class="row align-items-center">
                                        <div class="col-lg-7 order-md-1 order-2">
                                            <div class="details mt-30">
                                                <h5 class="mb-10">جزئیات</h5>
                                                <p>{{ product_detail.description|safe }}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 order-md-2 order-1">
                                            <div class="images">
                                                <img src="assets/images/product/single-product-01.webp" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details-wrap">
                                    <div class="row align-items-center">
                                        <div class="col-lg-7 order-md-1 order-2">
                                            <div class="details mt-30">
                                                <div class="pro_feature">
                                                    <h5 class="title_3 mb-10">امکانات</h5>
                                                    <ul class="feature_list">
                                                        <li><a href="#"><i class="arrow_triangle-right"></i>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></li>
                                                        <li><a href="#"><i class="arrow_triangle-right"></i>لورم ایپسوم متن ساختگی با تولید سادگی</a></li>
                                                        <li><a href="#"><i class="arrow_triangle-right"></i>لورم ایپسوم متن ساختگی با تولید</a></li>
                                                        <li><a href="#"><i class="arrow_triangle-right"></i>لورم ایپسوم متن ساختگی با تولید دانش</a></li>
                                                        <li><a href="#"><i class="arrow_triangle-right"></i>لورم ایپسوم متن ساختگی</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 order-md-2 order-1">
                                            <div class="images">
                                                <img src="assets/images/product/single-product-02.webp" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Content -->
                        <!-- Start Single Content -->
                        <div class="product_tab_content tab-pane" id="sheet" role="tabpanel">
                            <div class="pro_feature">
                                <table class="shop_attributes">
                                    <tbody>
                                        <tr>
                                            <th>وزن </th>
                                            <td>1.2 کیلوگرم</td>
                                        </tr>
                                        <tr>
                                            <th>ابعاد </th>
                                            <td class="tm-ltr">12 × 2 × 1.5 cm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Single Content -->
                         <!-- Start Single Content -->
                        <div class="product_tab_content tab-pane" id="reviews" role="tabpanel">
                            <div class="rating_wrap mb-30">
                                {% if product_detail.comments %}
                                    <h4>نظرات</h4>
                                    <br>
                                    {% for comment in comments %}
                                        <p>------------------------------------------------------------------------------------------------------------------------</p>
                                        <div class='comment_section'>
                                            <h6>نظر شماره  {{comment.id}}</h6>
                                            <br>
                                            <p>نام: {% if comment.name %}{{comment.name}}{% else %}{{comment.author}}{% endif %}</p>
                                            <p>متن نظر: {{comment.content}}</p>
                                            <p>تاریخ انتشار نظر: {{comment.datetime_created}}</p>
                                            {% if comment.rating %}
                                                <p>امتیاز شما :
                                                    {% if comment.rating == 'PERFECT' %}
                                                        &#9733;&#9733;&#9733;&#9733;&#9733;
                                                    {% endif %}
                                                    {% if comment.rating == 'GOOD' %}
                                                        &#9733;&#9733;&#9733;&#9733;
                                                    {% endif %}
                                                    {% if comment.rating == 'NORMAL' %}
                                                        &#9733;&#9733;&#9733;
                                                    {% endif %}
                                                    {% if comment.rating == 'BAD' %}
                                                        &#9733;&#9733;
                                                    {% endif %}
                                                    {% if comment.rating == 'POOR' %}
                                                        &#9733;
                                                    {% endif %}
                                                </p>
                                            {% else %}
                                                <p>امتیاز شما: هیچ امتیازی ثبت نشده است</p>
                                            {% endif %}
                                        </div>
                                        {% if comment.replies.all %}
                                            <br>
                                            <h6>بازخورد ها </h6>
                                            {% for reply in comment.replies.all %}
                                                <br>
                                                <div class='reply_section'>
                                                    <p>نام: {% if reply.name %}{{reply.name}}{% else %}{{reply.author}}{% endif %}</p>
                                                    <p>متن بازخورد: {{reply.content}}</p>
                                                    <p>تاریخ انتشار بازخورد: {{reply.datetime_created}}</p>
                                                </div>
                                                <br>
                                            {% endfor %}
                                        {% endif %}
                                         <!-- only authenticated useres are allow to fill reply section. -->
                                        {% if user.is_authenticated %}
                                            <br>
                                            <form action={% url 'products:product_detail' product_detail.slug  %} method='post'>
                                                {% csrf_token %}
                                                  <!-- Honeypot field -->
                                                  <input name='website' value='please leave this field blank' type='hidden'>
                                                <!-- Hidden input for parent comment.id -->
                                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                <p class="comment-form-comment">
                                                    <label>بازخورد شما</label>
                                                    <textarea class="comment-notes" name='content'></textarea>
                                                    <input class="btn btn-primary" type="submit" value="ارسال">
                                                </p>
                                            </form>
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                {% else %}
                                    <h4 class="rating-title-2">اولین نفری باشید که برای "{{product_detail.name}}" دیدگاهی ارسال می کنید</h4>
                                {% endif %}
                            </div>
                            <br>
                            <div class="comments-area comments-reply-area">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form action={% url 'products:product_detail' product_detail.slug %} class="comment-form-area", method='post'>
                                            {% csrf_token %}
                                            <p class="comment-form-comment">
                                                <label>نظر شما برای محصول {{product_detail.name}}</label>
                                                <textarea class="comment-notes" required="required" name='content' required></textarea>
                                                <div class="rating">
                                                    <label>امتیاز<span class="required">*</span></label>
                                                    <select class="select-active" name="rating">
                                                        <option value="POOR">&#9733;</option>
                                                        <option value="BAD">&#9733;&#9733;</option>
                                                        <option value="NORMAL">&#9733;&#9733;&#9733;</option>
                                                        <option value="GOOD">&#9733;&#9733;&#9733;&#9733;</option>
                                                        <option value="PERFECT">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                                                    </select>
                                                </div>
                                                <!-- Honeypot field -->
                                                <input name='website' value='please leave this field blank' type='hidden'>
                                                <!-- only none_authenticated useres will see name and email field. -->
                                                {% if not user.is_authenticated %}
                                                    {% if not request.session.guest_data %}
                                                        <div class="comment-input">
                                                            <p class="comment-form-author">
                                                                <label>نام <span class="required">*</span></label>
                                                                <input type="text" name="name" required>
                                                            </p>
                                                            <p class="comment-form-email">
                                                                <label>ایمیل <span class="required">*</span></label>
                                                                <input type="text" name="email" required>
                                                            </p>
                                                        </div>
                                                    {% else %}
                                                        <input name='name' type='hidden' value={{request.session.guest_data.name}}>
                                                        <input name='email' type='hidden' value={{request.session.guest_data.email}}>
                                                    {% endif %}
                                                {% endif %}
                                            </p> 
                                            <div class="comment-form-submit">
                                                <input type="submit" value="ارسال" class="comment-submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Content -->
                    </div>
                </div>
            </div>
            <div class="related-products section-space--ptb_90">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb-30">
                            <h4>محصولات مرتبط</h4>
                        </div>
                    </div>
                </div>

                <div class="product-slider-active">
                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_1-300x300.webp" class="img-fluid" alt="Product Images" width="300" height="300">

                                    <span class="ribbon out-of-stock ">
                                    اتمام موجودی
                                </span>
                                </a>
                                <div class="product-actions">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">عنوان محصول</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">400.000</span> - <span class="old-price"> 800.000 تومان</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_2-300x300.webp" class="img-fluid" alt="Product Images" width="300" height="300">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">عنوان محصول</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">400.000</span> - <span class="old-price"> 800.000 تومان</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_3-300x300.webp" class="img-fluid" alt="Product Images" width="300" height="300">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">عنوان محصول</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">500.000 تومان</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_4-300x300.webp" class="img-fluid" alt="Product Images" width="300" height="300">

                                    <span class="ribbon onsale">
                                -14%
                                </span>
                                </a>
                                <div class="product-actions">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">عنوان محصول</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">400.000</span> - <span class="old-price"> 800.000 تومان</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_5-300x300.webp" class="img-fluid" alt="Product Images" width="300" height="300">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">عنوان محصول</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">400.000</span> - <span class="old-price"> 800.000 تومان</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_6-300x300.webp" class="img-fluid" alt="Product Images" width="300" height="300">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">عنوان محصول</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">500.000 تومان</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_7-300x300.webp" class="img-fluid" alt="Product Images" width="300" height="300">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">عنوان محصول</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">500.000 تومان</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="product-details.html" class="product-thumbnail">
                                    <img src="assets/images/product/1_8-300x300.webp" class="img-fluid" alt="Product Images" width="300" height="300">

                                </a>
                                <div class="product-actions">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">مشاهده جزئیات</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">افزودن به سبد خرید</span></a>
                                    <a href="wishlist.html"><i class="p-icon icon-heart"></i> <span class="tool-tip">افزودن به علاقه مندی ها</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">عنوان محصول</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">400.000</span> - <span class="old-price"> 800.000 تومان</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
